*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --fi:#71C5CF;
  --sec:#654E56;
  --thi:#71BF2E;
  --for:#D4AC57;
  --fif:#E0D796;
  --six:#71C5CF;
  --sev:#654E56;
  --eig:#71BF2E;
}






